 <div class="center about">
  <h1>About Us</h1>
 <div class="container">

    
     <p>Today , we live in a tough world. Time of confusion does not make life easy. Farming is one of these fields. I grew up in a farmer 's family, I know how hard you have to work to earn your penny. You have to work hard every single day, you have to invest your time and money to make a profit. But sometimes, no matter how hard your work is if you can't sell it or the price is too low, You 're going to have Los. This was one of the biggest problems for my family and a lot of farmers I cared about. You have goods for sale but you can't find buyers, while people buy the same goods for a way that's too expensive. Local grocery stores. That's why I've decided to help farmers like my family to connect in one place. Where future buyers are able to search for them.
    </p>
   
    
 </div>
</div>